<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Favorites.plist
   iFlex

   Created by Kendra Swanson on 11/10/18.
   Copyright (c) 2018 Kendra Swanson, Christina Stellwagen, Carla Beghin, Benjamin Gu. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
